:root {
    --main-width: 1200px;
}
.frontmatter,
.heading,
main > article {
    width: 850px;
    margin-inline: auto;
}
.hero {
    width: 1000px;
    margin-inline: auto;
}
.hero img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: var(--border-standard-2px);
    border-radius: var(--radius-xl);
}

code {
    background-color: transparent !important;
}

code.shiki {
    counter-reset: step;
    counter-increment: section 0;
}

code.shiki .line::before {
    content: counter(step);
    counter-increment: step;
    margin-right: 1ch;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
}
