:root {
    --main-width: 1200px;
}
.frontmatter,
.heading,
main > article {
    width: 100%;
    max-width: 850px;
    margin-inline: auto;
}
.hero {
    max-width: 1000px;
    margin-inline: auto;
}
.hero img {
    max-width: calc(100% - 3.2px);
    max-height: 100%;
    height: auto;
    border: var(--border-standard-2px);
    border-radius: var(--radius-xl);
    animation: heroEntrance 1.5s 0.3s ease both;
}

@keyframes heroEntrance {
    0% {
        clip-path: xywh(50% 0 0 10% round var(--radius-xl));
    }
    60% {
        clip-path: xywh(0 0 100% 70% round var(--radius-xl));
    }
    100% {
        clip-path: xywh(0 0 100% 100% round var(--radius-xl));
    }
}

h1 {
    view-transition-name: heading;
}
h1.animated {
    animation-fill-mode: both !important;
    animation-delay: 0.3s !important;
}
::view-transition-old(heading),
::view-transition-new(heading) {
    /* Prevent height/width morphing */
    height: auto;
    width: auto;
    mix-blend-mode: normal;
}
html {
    overflow-anchor: none;
}

/* Force scroll position during view transitions */
html::view-transition {
    pointer-events: none;
}

html:has(::view-transition-group(*)) {
    scroll-behavior: auto !important;
}

html:not(.no-view-transition) .card,
html:not(.no-view-transition) h1,
html:not(.no-view-transition) .hero img,
html:not(.no-view-transition) .external-link,
html:not(.no-view-transition) .info h2,
html:not(.no-view-transition) .info p {
    animation: none !important;
}
