:root {
    --main-width: 1200px;
}
.frontmatter,
.heading,
main > article {
    width: 850px;
    margin-inline: auto;
}
.hero {
    width: 1000px;
    margin-inline: auto;
}
.hero img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: var(--border-standard-2px);
    border-radius: var(--radius-xl);
}

code {
    background-color: transparent !important;
}
