/* stylesheet for all pages */
:root {
    --main-width: 1200px;
}

h1 {
    view-transition-name: heading;
}
h1.animated {
    animation-fill-mode: both !important;
    animation-delay: 0.3s !important;
}
::view-transition-old(heading),
::view-transition-new(heading) {
    /* Prevent height/width morphing */
    height: auto;
    width: auto;
    mix-blend-mode: normal;
}
html {
    overflow-anchor: none;
}

/* Force scroll position during view transitions */
html::view-transition {
    pointer-events: none;
}

html:has(::view-transition-group(*)) {
    scroll-behavior: auto !important;
}

html:not(.no-view-transition) .card,
html:not(.no-view-transition) h1,
html:not(.no-view-transition) .hero img,
html:not(.no-view-transition) .external-link,
html:not(.no-view-transition) .info h2,
html:not(.no-view-transition) .info p {
    animation: none !important;
}
