:root {
    --main-width: 1200px;
}
.frontmatter,
.heading,
main > article {
    width: 100%;
    max-width: 850px;
    margin-inline: auto;
}
.hero {
    max-width: 1000px;
    margin-inline: auto;
}
.hero img {
    max-width: calc(100% - 3.2px);
    max-height: 100%;
    height: auto;
    border: var(--border-standard-2px);
    border-radius: var(--radius-xl);
}

h1 {
    view-transition-name: heading;
}
::view-transition-old(heading),
::view-transition-new(heading) {
    /* Prevent height/width morphing */
    height: auto;
    width: auto;
    mix-blend-mode: normal;
}
html {
    overflow-anchor: none;
}

/* Force scroll position during view transitions */
html::view-transition {
    pointer-events: none;
}

html:has(::view-transition-group(*)) {
    scroll-behavior: auto !important;
}

html:not(.no-view-transition) .card {
    animation: none !important;
}
